* {
  padding: 1px;
  margin: 5px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
}

/* Body properties */

body {
  background-image: url("header-background-mobile.svg");
  position: absolute;
  width: 375px;
  height: 718px;
  left: 1px;
  top: 1px;
}

/* Header styles */

.header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;
  margin-left: 5em;
}

/* Icons for ex Time, Wifi and cellular*/

.time_icon {
  background-image: url("Time.png");
  position: absolute;
  width: 54px;
  height: 16px;
  left: 90px;
  font-style: normal;
  font-size: 5px;
  line-height: 16px;
  text-align: center;
}
/*Cellular_Connection-path */

.cellular_con {
  position: absolute;
  width: 3px;
  height: 8.33px;
  right: 69px;
  top: 20px;
  background: #000;
}
/* Wifi-path */
.wifi_path {
  position: absolute;
  width: 4.63px;
  height: 3.37px;
  right: 49.36px;
  top: 24.92px;
  background: #000;
}
/* Capacity */

.capacity {
  position: absolute;
  width: 18px;
  height: 7.33px;
  right: 19px;
  top: 19.33px;
  background: #000;
  border-radius: 1.33333px;
}

/* Hamburger button */

.nav-elem {
  position: absolute;
  width: 50px;
  height: 30.33px;
  right: 35px;
  top: 35px;
}
/* Vector */

.humb {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;
  border: 2px solid #067bf8;
}
/* Vector */

.humb1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 50%;
  bottom: 50%;
  border: 2px solid #077efd;
}
/* Vector */

.humb2 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 70.83%;
  bottom: 29.17%;
  border: 2px solid #057af8;
}

/* Logo*/

.logo {
  top: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #3c0af1;
}

.box {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
  padding: 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5em;
}

.my_name {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;

  /* Header / 2 */

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  margin: 12px 1px;
}

.my_details {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #172b4d;
  width: 45vw;
}

.more_det {
  width: 40vw;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.37px;
  color: #6b55bd;
  padding-top: 2em;
}

.row {
  width: 300px;
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 1em;
}
/* Ellipse 3 */

.ellipse3 {
  background-image: url("Ellipse3.png");
  position: absolute;
  width: 105px;
  height: 105px;
  left: 400px;
  top: 152.24px;
}
/* Ellipse 11 */

.ellipse11 {
  background: #6070ff;
  background-image: url("Ellipse11.png");
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 16.04px;
  top: 115.47px;
  transform: rotate(-156.88deg);
}
/* Ellipse 4 */
/* Primary/B400 */

.ellipse4 {
  background: #6070ff;
  background-image: url("Ellipse4.png");
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}
/* Rectangle 5 */

.Rectangle5 {
  background: #ebebff;
  background-image: url("Rectangle5.png");
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 191.82px;
  top: 653px;

  /* Primary/B50 */

  transform: rotate(23.34deg);
}
/* Rectangle 6 */

.Rectangle6 {
  background-image: url("Rectangle6.png");
  position: absolute;
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 115.49px;

  /* Primary/B50 */

  transform: rotate(-46.14deg);
}
/* Rectangle 7 */

.Rectangle7 {
  background: #6070ff;
  background-image: url("Rectangle7.png");
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 110.59px;

  /* Primary/B400 */

  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}
/* Ellipse 5 */

.ellipse5 {
  background: #cbcdff;
  background-image: url("Ellipse5.png");
  position: absolute;
  width: 11px;
  height: 10px;
  left: 132.98px;
  top: 115.81px;

  /* Primary/B100 */

  transform: rotate(52.97deg);
}
/* Ellipse 12 */

.ellipse12 {
  background: #6070ff;
  background-image: url("Ellipse12.png");
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 546.69px;
  transform: rotate(-176.08deg);
}
/* Ellipse 13 */

.ellipse13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 540.44px;
  background: #ebebff;
  transform: rotate(69.41deg);
}
/* Rectangle 4 */

.Rectangle4 {
  background: #ebebff;
  background-image: url("Rectangle4.png");
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 420px;
  top: 140.79px;

  /* Primary/B50 */

  transform: rotate(-30deg);
}
/* Ellipse 8 */

.ellipse8 {
  /* Neutrals/N0 */

  background: #fff;
  background-image: url("Ellipse8.png");
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 100px;

  /* Primary/B100 */

  border: 1px solid #cbcdff;
  box-sizing: border-box;
}
/* Ellipse 15 */

.ellipse15 {
  background: #fff;
  background-image: url("Ellipse15.png");
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 645px;

  /* Primary/B100 */

  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

.media_div {
  display: flex;
  left: 1.06%;
  right: 80.56%;
  top: 300px;
}
/* Vector */

.twitter {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}
/* Vector */

.linkedin {
  position: absolute;
  left: 20.8%;
  right: 81.87%;
  top: 78.85%;
  bottom: 18.87%;
}
/* Vector */

.linked {
  position: absolute;
  left: 18.74%;
  right: 77.87%;
  top: 78.32%;
  bottom: 18.87%;
}
/* Vector */

.medium {
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}
/* Vector */

.github {
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}
/* Vector */

.angellist {
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}
/* msedia screen size*/

@media screen and (max-width: 375px) {
  body {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
